
      <div id="diamond" class="str-mg">
          <h3 class="offer">Offers</h3>
      </div>

      <div class="checkout ">
    <div class="checkout-header">
      <h1 class="checkout-title">
        Make Payment and win Scratch Card!
        <span class="checkout-price">$10</span>
      </h1>
    </div>
    <p>
      <input type="text" class="checkout-input checkout-name" placeholder="Your name" autofocus>
      <input type="text" class="checkout-input checkout-exp" placeholder="MM">
      <input type="text" class="checkout-input checkout-exp" placeholder="YY">
    </p>
    <p>
      <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111">
      <input type="text" class="checkout-input checkout-cvc" placeholder="CVC">
    </p>
    <p>
      <input type="submit" value="Pay $25.00" class="checkout-btn" (click)="sendNotification()">
    </p>
  </div>
 
<app-footer ></app-footer>
