body {
    padding: 20px 0;
  }
  
  .container {
    border: 3px solid yellow;
    position: relative;
    width: 400px;
    height: 394px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
  }
  
  .canvas {
    position: absolute;
    top: 0;
  }
  
  .form {
    padding: 20px;
  }

  .bg-img{
    background-image: url("/assets/cardBackground.JPG");
    height: 392px;
    width: 389px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .cvs-ht {
    margin-left: -15px;
  }
  .item-ctr{
    text-align: center;
    margin-top: 92px;
    color:#4CAF50;
  }
  .pos-abs{
    position: absolute;
    margin-top: 86px;
    margin-left: 7%;
  }


  