<!--
<div class=”control-section”>
    <ejs-dialog #confirmDialog [buttons]='confirmDlgButtons' [visible]='hidden' [header]='confirmHeader' [animationSettings]='animationSettings' [showCloseIcon]='confirmCloseIcon' [target]='target'  [width]='confirmWidth'>
        <ng-template #content>
            <span>Are you sure you want to permanently delete these items ?</span>
        </ng-template>
    </ejs-dialog>
</div>
-->

<div class="container" id="js-container">
  <canvas class="canvas" id="js-canvas" width="300" height="300" 
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp($event)"
    (mousemove)="handleMouseMove($event)"
    (mouseover)="handleMouseMove($event)"
   >
  </canvas>
  <form class="form" *ngIf="isVisible">
    <h2>Congragulations!</h2>
    <h2>You have won</h2>
    <h1>1Lakh Rupees!</h1>
  </form>
</div>