<div class="container bg-img" id="js-container">
  <canvas class="canvas cvs-ht" id="js-canvas" width="400" height="400" 
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp($event)"
    (mousemove)="handleMouseMove($event)"
    (mouseover)="handleMouseMove($event)"
   >
  </canvas>
  <div class="item-ctr">
    <form class="form" *ngIf="isVisible">
      <h4>Congragulations!</h4>
      <h4>You have won</h4>
      <h4>{{giftOption}}</h4>
      <h4 *ngIf="!(giftOption === 'Kabbage Goodies')">{{giftValue}}</h4>
      <img *ngIf="giftOption === 'Kabbage Goodies'" src ={{giftValue}} alt ={{giftOption}} class ="gift-img" />
    </form>
  </div>
</div>

<a href="https://www.kabbage.com/" target="_blank">
  <div class ="btn btn-lg btn-success pos-abs">Refer your friend</div>
</a>

