<div class="container">  
  <form id="contact" action="" method="post" class = "col-12">
    <h3>Gift Options Form</h3>
    <h4>Select gift options:</h4>

    <div class="form-row">
      <fieldset>
        <label class="col-sm-4 col-form-label"  for="name">Customer Id: </label>
        <input type="text" placeholder="Customer Id" class="form-control col-sm-10" name="name" id="name" value ="121326868"/>
      </fieldset>
    </div>

    <div class="form-row">
      <fieldset>
        <label class="col-sm-4 col-form-label"  for="email">Email : </label>
        <input type="text" placeholder="Your Email Address" class="form-control col-sm-10" name="email" id="name">
      </fieldset>
    </div>

    <div class="form-row">
      <fieldset>
        <label class="col-sm-4 col-form-label"  for="category">Category : </label>
        <select class="form-control col-sm-10">
            <option value="betterLuch">Better Luck</option>
            <option value="Dollars">Dollars</option>
            <option value="giftCards">Gift Cards</option>
            <option value="kabbageGoodies">Kabbage Goodies</option>
        </select>
      </fieldset>
    </div>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Designed by <a href="" target="_blank" title="Colorlib">Hermes Team</a></p>
  </form>
</div>